<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ea-1819</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" (click)="navigate('recipe')">Recipe</a> -->
        <a class="nav-link" routerLink="one">One</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" (click)="navigate('recipe')">Recipe</a> -->
        <a class="nav-link" routerLink="two">Two</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" (click)="navigate('recipe')">Recipe</a> -->
        <a class="nav-link" routerLink="three">Three</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" (click)="navigate('recipe')">Recipe</a> -->
        <a class="nav-link" routerLink="four">Four</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" (click)="navigate('recipe')">Recipe</a> -->
        <a class="nav-link" routerLink="five">Five</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" (click)="navigate('recipe')">Recipe</a> -->
        <a class="nav-link" routerLink="six">Six</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <!-- <a class="nav-link" (click)="navigate('recipe')">Recipe</a> -->
        <a class="nav-link" routerLink="seven">Seven</a>
    </ul>
  </div>
</nav>